/* ====| Font Integration Start Here |==== */
/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap');


/* Montserat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap');

/* ====| Font Integration End Here |==== */

/* ====| Common CSS Start Here |==== */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans', sans-serif;
}
.container{
    max-width: 992px;
}
h1{
    font-size: 48px;
}
h2{
    font-size:40px;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 26px;
}
h5{
    font-size: 22px;
    line-height: 32px;
}
h6{
    font-size: 18px;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #000;
}
.primary-bg-color{
    background-color: #252525;
}
.primary-color{
    color: #252525;
}
.secondary-bg-color{
    background-color: #fff000;
}
.secondary-color{
    color: #fff000;
}
.secondary-bg-color-opacity{
    background-color: #ffee006d;
}
.background-position{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* ====| Common CSS End Here |==== */

/* ====| Hero CSS Start Here |==== */
header {
    background:  url(../images/bg-header.jpg);
    background-attachment: fixed;
}
.reader-section{
    background-image: url(../images/reader-body-bg.png);
}
header .logo img{
    width: 250px;
}
.bookies-odds {
    background:url(../images/remoddsimages/shutterstock_1956742048.jpg);
}
.bookies-odds .facts p i, .tricked-section .tricked-icon p i {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    width: 50px;
    height: 50px;
}

.tricked-main{
    background-image: url(../images/tricked-bg.png);
}
.tricked, .common-gray{
    background-color: #eeeeee;
    transition: .5s;
}
.tricked:hover{
    background-color: #ffffff;
}
.primary-bg-opacity{
    background-color: #252525bd;
}
.moods-img img, .gmail img{
    width: 70%;
}

.latest-form-section{
    background-image: url(../images/reader-bg-body.png);
} 
.hundred-days-two{
    background-image: url(../images/100days-bg-2.png);
}
.football-bet-bg{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/football-bet.png);
}
ul.list-group li{
    list-style: none;
}
.moroccan-flower{
    background-image: url(../images/moroccan-flower.png);
}
.email-pattern{
    background-image: url(../images/email-pattern.png);
}
.border-left-color{
    border-left: 7px solid #252525;
}
.border-right-color{
    border-right: 7px solid #252525;
}
.matlabs-bg{
    background-image: url(../images/matlabs.jpg);
}

.sign-up button {
    background-color: #fbdd13;
    color: #222222;
    border: none;
    font-size: 26px;
    border: 3px solid #222222;
    border-bottom: 7px solid #222222;
    border-radius: 8px;
    transition: .5s;
}
.sign-up button:hover{
    background-color: #F5F5F5;
    transform: scale(1.05);
}
.single-slider {
    min-height: 430px;
}
.slider .client-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.slider .client-content p{
    font-size: 16px;
}
.owl-theme .owl-nav {
    display: none;
}
.owl-dots{
    margin-top: 20px;
}

.price-section{
    background-image: url(../images/bundle-bg.png);
}
/* ====| Hero CSS End Here |==== */